<nav id="menu" class="navbar navbar-expand-lg navbar-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
        <a class="nav-link" href="#">Kanji Renshuu</a>
        <a class="nav-link" href="#">Attack-And-Defend</a>
      </li>
    </ul>
  </div>
  <a class="navbar-brand brown" href="#">Yori Garcia Rosario, Software Engineer</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
</nav>