body{
    color:black !important;
    width: 100%;
    margin: 0%;
    background-color: #BFDBF7 !important;
}

p {
    font-size: 1.4em;
}

.flexbox-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

}


#logo-list{
    list-style-type:none;
    float: left;
    padding-left: 0px !important;
    margin: 5px 0px 0px 15px !important;
}

#logo-list > li {
    display: inline;
    padding-right: 5px;
}

#picture{
    border-radius: 50%;
    width: 15em;
}


.separator{
    height: auto;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    width: 100%;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #053C5E;
}

.header{
    font-size: 2.0em;
    color: #053C5E;
    font-family: 'Righteous', cursive;
}

.sub-title{
    margin-top: 15px;
    font-size: 150%;
    color: #053C5E;
    font-family: 'Righteous', cursive;
}

.thumbnail {
    width: 15em;
}


#programming-languages > img{
    margin: 7px;
    width: 4em;
}