body{
    color:black !important;
    width: 100%;
    margin: 0%;
    background-color: #BFDBF7 !important;
}

.technology {
    height: 5% !important; 
    width: 5% !important;
    float: right;
    display: inline-block;
    vertical-align: unset;
}

#menu-link-group{
    float: left;
    margin-left: 5px;
}

#menu-link-group > div{
    margin-top: 6px;
    float:left;
    padding:8px;
    color: #BFDBF7;
    border-color: #4682B4;
    border-style: solid;
    border-width: 0px 2px 0px 0px;
}

#menu-link-group > div:hover{
    border-color: #BFDBF7   ;
}

#logo-list{
    list-style-type:none;
    float: left;
    padding-left: 0px !important;
    margin: 5px 0px 0px 15px !important;
}

#logo-list > li {
    display: inline;
    padding-right: 5px;
}

#picture{
    border-radius: 50%;
}

@media screen and (max-width: 820px) {
    #picture{
        height: 240px;
        width: 240px;
    }
}

.separator{
    height: auto;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    width: 100%;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #053C5E;
}

.header{
    font-size: 300%;
    color: #053C5E;
    font-family: 'Righteous', cursive;
}

.sub-title{
    margin-top: 15px;
    font-size: 180%;
    color: #053C5E;
    font-family: 'Righteous', cursive;
}

.project-description {
    font-size: 130%;
    color: #053C5E;
    font-family: 'Righteous', cursive;
}
