<app-menu></app-menu>

<div id="content" class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="header">Hey, I'm Yori</div>
            <div id="introduction">
                <p>
                    I'm a Dutch student at Fontys University of Applied Sciences where I'm currently studying
                    Software
                    Engineering and
                    Smart Mobile.
                </p>
                <p>
                    I'm passionate about building software, it's important to me that I'm improving every day. I like
                    working on sideprojects,
                    and on this website you can see some of the ones I have built myself that I think deserve a
                    spotlight.
                </p>
            </div>

        </div>
        <div class="col-md-4">
            <img id="picture" src="./assets/images/picture.png" />
        </div>
    </div>
    <div *ngFor="let project of projects">
        <div class="separator"></div>
                <div class="sub-title">{{ project.name }}</div>
                <div style="float: right">
                        <div   *ngFor="let technology of project.technologies">
                                <img class="technology" src={{technology.imgUrl}}/>
                </div>
                </div>

        <div class="row">
            <div class="project-description col-md">
                <p>
                    {{ project.description }}
                </p>
            </div>
            <div class="col-md-2">

            </div>
        </div>
    </div>